
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-50 antialiased;
  }
}

.glass {
  @apply bg-white/5 backdrop-blur-lg border border-white/10;
}

.styled-scroll::-webkit-scrollbar {
  width: 4px;
}

.styled-scroll::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}
